*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
#game{
    width: 850px;
    height: 600px;
    border: 12px solid black;
    margin-top: 50px;
    margin-left: 10px;
    overflow: hidden;
    background-image: url("images/newbg1.png");
}

#block1{
    width: 132px;
    height: 425px;
    background-image: url("images/longthorns.png");
    position: relative;
    left: 850px;
    top: -250px; 
    animation: block 6s infinite linear; 
}

#block2{
    width:132px;
    height: 425px;
    background-image: url("images/longthorns.png");
    position: relative;
    left: 850px;
    top: -75px;
    animation: block 6s infinite linear; 
}

@keyframes block{
    0%{left:850px}
    100%{left:-50px} 
}
#avatar{
    width:76px;
    height:50px;
    background-image: url("images/tealrs.png");
    position: absolute;
    bottom: 600px;
    left: 400px; 
}
#gameInfo{
    width: 525px;
    height: 600px;
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: rgb(130, 82, 143);
}
#score{
    font-size: 25px; font-weight: bold;
    letter-spacing: .5em;
    position: absolute;
    top: 175px;
    right: 275px;
}
#gameover{
    width: 400px;
    height: 100px;
    background-color: rgb(129, 57, 151);
    font-size: 25px;
    padding-top: 35px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 275px;
    right: 63px;
}
#title{
    font-size: 42px; font-weight: bold;
    letter-spacing: .3em;
    position:absolute;
    top: 25px;
    right: 115px;
}
.btn{
    position: absolute;
    top:450px;
    right: 169px;
    background-color: palevioletred;
    width: 175px;
    height: 75px;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: .2em;
}
