*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
#game{
    width: 850px;
    height: 600px;
    border: 12px solid black;
    margin-top: 50px;
    margin-left: 10px;
    overflow: hidden;
    background-image: url("images/newbg1.png");
}

#block1{
    width: 132px;
    height: 425px;
    background-image: url("images/longthorns.png");
    position: relative;
    left: 850px;
    top: -250px; 
    animation: block 6s infinite linear; 
}

#block2{
    width:132px;
    height: 425px;
    background-image: url("images/longthorns.png");
    position: relative;
    left: 850px;
    top: -75px;
    animation: block 6s infinite linear; 
}

@keyframes block{
    0%{left:850px}
    100%{left:-50px} 
}
#avatar{
    width:76px;
    height:50px;
    background-image: url("images/tealrs.png");
    position: absolute;
    bottom: 600px;
    left: 400px; 
}
